@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #33626f;
    color: #fff;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

header{
    text-align: center;
    margin-top: -130px;
}

header h1{
    margin: 0;
    font-size: 36px;
}

header p{
    margin: 0;
    font-size: 18px;
}

canvas{
    border: 2px solid #fff;
    position: relative;
}

.score-container{
    display: flex;
    justify-content: space-between;
    width: 420px;
    font-size: 18px;
    margin-top: 60px;
}

#restart-btn{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#game-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 16, 12, 0.8);
    padding: 20px;
    color: #fff;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 2;
}