@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    margin: 0;
    background: #271b36;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.header {
    text-align: center;
    margin: 20px 0;
    color: #ffffff;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 20px;
    margin: 5px 0 0 0;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

canvas {
    border: 3px solid #304550;
}